/* footer at bottom*/
html, body{
    height: 100%;
}
#page{
    display: table;
    height: 100%;
    width: 100%;
}
#top-page{
    display: table-row;
    width: 100%;
}
#footer{
    display: table-footer-group;
    width: 100%;
}
#footer-frame{
    display: table-row;
    height: 1%;
}
/* other style */
.checkbox{
    margin: 0;
}
.new-row input{
    clear: both;
    display: block;
}
.simple-page{
    padding: 75px 0 0;
}
.test-box{
    min-height: 500px;
}