/* footer at bottom*/
html, body{
    height: 100%;
}
#page{
    display: table;
    height: 100%;
    width: 100%;
}
#top-page{
    display: table-row;
    width: 100%;
}
#footer{
    display: table-footer-group;
    width: 100%;
}
#footer-frame{
    display: table-row;
    height: 1%;
}
/* other style */
.checkbox{
    margin: 0;
}
.new-row input{
    clear: both;
    display: block;
}
.simple-page{
    padding: 75px 0 0;
}
.test-box{
    min-height: 500px;
}
.example{
    border: 1px solid #000;
    width: 12px;
    height: 12px;
    float: left;
    margin: 3px 0 0 10px;
}
.ui-dialog{
    position: absolute;
}
.ui-widget-content{
    overflow: auto;
}
.ui-dialog .ui-dialog-titlebar{
    position: relative;
    padding-right: 30px;
}
.ui-dialog .ui-dialog-titlebar-close{
    position: absolute;
    right: 10px;
    top: 10px;
}
.ui-dialog-titlebar-close{

}