{% if includeContainer is defined %}
            <div id="widget-restored-state-{{ stateId|default("none") }}">
{% endif %}
{% block block_content %}
{% endblock block_content %}
{% if includeContainer is defined %}
            </div>
{% endif %}
