{% extends 'OroNoteBundle:Note/widget:notes.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set containerExtraClass = 'comments' %}

{% block items_container %}
    {% set options = {
        widgetId: app.request.get('_wid'),
        notesOptions: {
            template: '#template-comment-list',
            itemTemplate: '#template-comment-item',
            itemAddEvent: 'comment:add',
            itemViewIdPrefix: 'comment-',
            itemView: 'orocrmcase/js/app/views/comment-view',
            itemModel: 'orocrmcase/js/app/models/comment-model',
            messages: {
                addDialogTitle: "orocrm.case.casecomment.dialog.add"|trans,
                editDialogTitle: "orocrm.case.casecomment.dialog.edit"|trans,
                itemSaved: "orocrm.case.casecomment.message.saved"|trans,
                itemRemoved: "orocrm.case.casecomment.message.removed"|trans,
                deleteConfirmation: "orocrm.case.casecomment.message.delete_confirmation"|trans,
                loadItemsError: "orocrm.case.casecomment.error.load"|trans,
                deleteItemError: "orocrm.case.casecomment.error.delete"|trans
            },
            urls: {
                list: path('orocrm_case_comment_list', {'id': case.id}),
                createItem: path('orocrm_case_comment_create', {'caseId': case.id}),
            },
            routes: {
                update: 'orocrm_case_comment_update',
                delete: 'orocrm_case_api_delete_comment'
            }
        },
        notesData: render(path('orocrm_case_comment_list', {'id': case.id}))
    } %}
    <div class="accordion" id="comment-list"
         data-page-component-module="oronote/js/app/components/notes-component"
         data-page-component-options="{{ options|json_encode }}"></div>

    {% include 'OroCRMCaseBundle:Comment:js/list.js.twig' with {'id': 'template-comment-list'} %}
    {% include 'OroCRMCaseBundle:Comment:js/view.js.twig' with {'id': 'template-comment-item'} %}
{% endblock %}
