<script type="text/html" id="template-no-pins-message">
    <span>There are no pinned items</span>
</script>

<script type="text/html" id="template-list-pin-item">
    <div class="pin-holder">
        <a class="btn-close" href="#">close</a>
        <div><a href="#" title="<%= title %>"><%= title %></a></div>
    </div>
</script>

<script type="text/html" id="template-tab-pin-item">
    <button class="close" type="button">&times;</button><span><%= title %></span>
</script>