parameters:
    oro_contact_us.contactrequest.entity.class:           Oro\Bundle\ContactUsBundle\Entity\ContactRequest
    oro_contact_us.contactreason.entity.class:            Oro\Bundle\ContactUsBundle\Entity\ContactReason
    oro_contact_us.embedded_form.class:                   Oro\Bundle\ContactUsBundle\Form\Type\ContactRequestType
    oro_contact_us.contact_request.form.handler.class:    Oro\Bundle\ContactUsBundle\Form\Handler\ContactRequestHandler
    oro_contact_us.provider.phone.abstract_contact_request.class: Oro\Bundle\ContactUsBundle\Provider\AbstractContactRequestPhoneProvider

services:
    oro_contact_us.embedded_form:
        class: '%oro_contact_us.embedded_form.class%'
        tags:
            - { name: oro_embedded_form, type: Oro\Bundle\ContactUsBundle\Form\Type\ContactRequestType, label: oro.contactus.contactrequest.entity_label }
            - { name: form.type, alias: oro_contactus_contact_request }

    oro_contact_us.contact_request.form:
        class: Symfony\Component\Form\Form
        factory: ['@form.factory', createNamed]
        arguments:
            - "oro_contactus_contact_request"
            - Oro\Bundle\ContactUsBundle\Form\Type\ContactRequestType
            - null

    oro_contact_us.contact_request.form.handler:
        class: '%oro_contact_us.contact_request.form.handler.class%'
        arguments:
            - "@oro_contact_us.contact_request.form"
            - "@request_stack"
            - "@doctrine.orm.entity_manager"

    oro_contact_us.provider.phone.abstract_contact_request:
        class: '%oro_contact_us.provider.phone.abstract_contact_request.class%'
        tags:
            - { name: oro_address.phone_provider, class: Oro\Bundle\ContactUsBundle\Entity\AbstractContactRequest }

    oro_contact_us.contact_request.manager.api:
        class: Oro\Bundle\SoapBundle\Entity\Manager\ApiEntityManager
        parent: oro_soap.manager.entity_manager.abstract
        arguments:
            - '%oro_contact_us.contactrequest.entity.class%'
            - "@doctrine.orm.entity_manager"

    oro_contact_us.form.type.contact_reason:
        class: 'Oro\Bundle\ContactUsBundle\Form\Type\ContactReasonType'
        tags:
            - { name: form.type }

    oro_contact_us.form.type.contact_reason_select:
        class: Oro\Bundle\ContactUsBundle\Form\Type\ContactReasonSelectType
        tags:
            - { name: form.type, alias: oro_contactus_contact_reason_select }

    oro_contact_us.form.autocomplete.contact_reason.search_handler:
        class: Oro\Bundle\ContactUsBundle\Autocomplete\ContactReasonSearchHandler
        lazy: true
        arguments:
            - '@oro_entity.doctrine_helper'
            - '@property_accessor'
        tags:
            - { name: oro_form.autocomplete.search_handler, alias: contact_reasons, acl_resource: oro_contactus_reason_view }
