services:
    oro_contact_us.tests.api.skipped_entity_provider:
        class: Oro\Bundle\ApiBundle\Tests\Functional\Environment\SkippedEntityProvider
        decorates: oro_api.tests.skipped_entity_provider
        arguments:
            - '@.inner'
        calls:
            - [addSkippedEntity, ['Oro\Bundle\ContactUsBundle\Entity\ContactReason', ['get_list', 'delete', 'delete_list']]]

    oro_contact_us.tests.entity_name_resolver.data_loader:
        class: Oro\Bundle\ContactUsBundle\Tests\Functional\Environment\TestEntityNameResolverDataLoader
        decorates: oro_entity.tests.entity_name_resolver.data_loader
        arguments:
            - '@.inner'
