{% set metrics = oro_widget_render({
    'widgetType': 'block',
    'url': path('oro_activity_contact_metrics', {entityClass: oro_class_name(entity, true), entityId: entity.id}),
    'alias': 'activity-contact-widget',
}) %}
{% if metrics|trim is not empty %}
    <li>{{ metrics|raw }}</li>
{% endif %}
