{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% set pageTitle = 'orocrm.call.entity_plural_label'|trans %}
{% set gridName = 'calls-grid' %}

{% block navButtons %}
    {% if resource_granted('orocrm_call_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('orocrm_call_create'),
                'title' : 'Log'|trans ~ ' ' ~ 'orocrm.call.entity_label'|trans|lower,
                'label' : 'Log'|trans ~ ' ' ~ 'orocrm.call.entity_label'|trans|lower
            }) }}
        </div>
    {% endif %}
{% endblock %}
