[submodule "src/Oro/Bundle/SearchBundle"]
	path = src/Oro/Bundle/SearchBundle
	url = git@github.com:laboro/SearchBundle.git
[submodule "src/Oro/Bundle/SegmentationTreeBundle"]
	path = src/Oro/Bundle/SegmentationTreeBundle
	url = git@github.com:laboro/SegmentationTreeBundle.git
[submodule "src/Oro/Bundle/SoapBundle"]
	path = src/Oro/Bundle/SoapBundle
	url = git@github.com:laboro/SoapBundle.git
[submodule "src/Oro/Bundle/TestFrameworkBundle"]
	path = src/Oro/Bundle/TestFrameworkBundle
	url = git@github.com:laboro/TestFrameworkBundle.git
[submodule "src/Oro/Bundle/UIBundle"]
	path = src/Oro/Bundle/UIBundle
	url = git@github.com:laboro/UIBundle.git
[submodule "src/Oro/Bundle/UserBundle"]
	path = src/Oro/Bundle/UserBundle
	url = git@github.com:laboro/UserBundle.git
[submodule "src/Oro/Bundle/WindowsBundle"]
	path = src/Oro/Bundle/WindowsBundle
	url = git@github.com:laboro/WindowsBundle.git
[submodule "src/Oro/Bundle/JsFormValidationBundle"]
	path = src/Oro/Bundle/JsFormValidationBundle
	url = git@github.com:laboro/JsFormValidationBundle.git
