language: php

php:
    - 5.4
    - 5.5
    - 5.6

env:
  - SYMFONY_VERSION=2.3.*

before_script:
  - composer self-update
  - phpenv config-add travis.php.ini
  - composer require symfony/symfony:${SYMFONY_VERSION} --prefer-dist --update-no-dev
  - composer require squizlabs/php_codesniffer:~2 --prefer-dist --update-no-dev

script: 
  - phpunit
  - ./vendor/bin/phpcs ./src -p --encoding=utf-8 --extensions=php --standard=psr2
