sudo: false

language: php

branches:
  only:
    - master
    - /^\d+\.\d+$/

php:
    - 7.0
    - 7.1

cache:
  directories:
    - $HOME/.composer

before_script:
  - phpenv config-rm xdebug.ini
  - composer self-update
  - composer global require fxp/composer-asset-plugin
  - travis_wait composer install --prefer-dist --optimize-autoloader --no-interaction  --no-suggest
  - set +e; DIFF=$(git diff --name-only --diff-filter=ACMR $TRAVIS_COMMIT_RANGE | grep -e ".*\.php$"); set -e;

script:
  - ./vendor/bin/phpunit
  - ./vendor/bin/phpcs ./src -p --encoding=utf-8 --extensions=php --standard=./vendor/oro/platform/build/phpcs.xml
  - if [[ $DIFF ]]; then ./vendor/bin/phpmd ${DIFF//$'\n'/,} text ./vendor/oro/platform/build/phpmd.xml --suffixes php; fi
