<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="bootstrap_test.php"
        stopOnError="false"
        stopOnFailure="false"
        stopOnWarning="false"
        stopOnIncomplete="false"
        stopOnRisky="false"
        stopOnSkipped="false"
        failOnRisky="false"
        failOnWarning="false"
        beStrictAboutChangesToGlobalState="false"
        beStrictAboutOutputDuringTests="false"
        beStrictAboutResourceUsageDuringSmallTests="false"
        beStrictAboutTestsThatDoNotTestAnything="false"
        beStrictAboutTodoAnnotatedTests="false"
        beStrictAboutCoversAnnotation="false"
        enforceTimeLimit="false"
        verbose="false">

    <testsuites>
        <testsuite name="unit">
            <directory>src/*/Tests/Unit</directory>
            <directory>src/*/*/Tests/Unit</directory>
            <directory>src/*/*/*/Tests/Unit</directory>
            <directory>src/*/*/*/*/Tests/Unit</directory>
            <directory>src/*/*/*/*/*/Tests/Unit</directory>
            <directory>src/*/*/*/*/*/*/Tests/Unit</directory>
            <directory>src/*/*/*/*/*/*/*/Tests/Unit</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
            <arguments>
                <array>
                    <element key="slowThreshold">
                        <integer>1000</integer>
                    </element>
                </array>
            </arguments>
        </listener>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
        <listener class="Oro\Component\TestUtils\Listener\TestListener"/>
    </listeners>
    <php>
        <env name="ORO_ENV" value="test"/>
        <env name="ORO_DEBUG" value="0"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>
