# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    safe_methods:
        Oro\Bundle\ActivityContactBundle\Command\ActivityContactRecalculateCommand:
            getAssociationName: true
