{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('oro.magento.newslettersubscriber.email.label'|trans, entity.email) }}

            {% if useCustomer is defined and useCustomer %}
                {{ UI.renderHtmlProperty(
                    'oro.magento.newslettersubscriber.customer.label'|trans,
                    UI.entityViewLink(entity.customer, entity.customer|oro_format_name, 'oro_magento_customer_view')
                ) }}
            {% endif %}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
