<div class="widget-content">
    {% set gridId = "entity-grid-" ~ random() %}
    {% set listenerParameters = {
        'columnName': 'has_account',
        'selectors': {
            'included': '#appendContacts',
            'excluded': '#removeContacts'
        }
    } %}
    {% placeholder prepare_grid with {'datagrid': datagrid, 'selector': '#' ~ gridId, 'parameters': listenerParameters} %}

    <script type="text/javascript">
        require(['jquery', 'oro/datagrid/callback-listener'],
        function($, CallbackListener) {
            $(function() {
                /** @type {oro.datagrid.CallbackListener} */
                new CallbackListener({
                    datagridName: {{ datagrid.datagrid.name|json_encode|raw }},
                    dataField: 'id',
                    columnName: 'has_account',
                    processCallback: function (value, model, listener) {
                        var isActive = model.get(listener.columnName);
                        console.log(isActive, model);
                    }
                });
            });
        });
    </script>

    <div class="container-fluid">
        {% block content %}
            <div id="{{ gridId }}"></div>
            <input type="hidden" name="appendContacts" id="appendContacts" value="" />
            <input type="hidden" name="removeContacts" id="removeContacts" value="" />
        {% endblock %}
    </div>

    <div class="widget-actions">
        <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
        <button type="button" class="btn btn-primary">{{ 'Select'|trans }}</button>
    </div>
</div>
