{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroEmailBundle::macros.html.twig' as email %}

<div class="widget-content">
    {{ dataGrid.renderGrid('account-email-grid', datagridParameters) }}
    {{ email.renderJs() }}
</div>
