placeholders:
    placeholders:
        quick_launchpad_right_column:
            items:
                contacts_launchpad:
                    order: 10

    items:
        oro_add_contact_button:
            template:   OroContactBundle:Contact:addContactButton.html.twig
            applicable: '@oro_ui.placeholder.filter->isInstanceOf($entity$, Oro\Bundle\AccountBundle\Entity\Account)'
            acl:        oro_contact_create

        oro_add_contact_link:
            template:   OroContactBundle:Contact:addContactLink.html.twig
            applicable: '@oro_ui.placeholder.filter->isInstanceOf($entity$, Oro\Bundle\AccountBundle\Entity\Account)'
            acl:        oro_contact_create

        contacts_launchpad:
            template: OroContactBundle:Dashboard:contactsLaunchpad.html.twig
