search:
    Oro\Bundle\ContactBundle\Entity\Contact:
        alias: oro_contact
        label: oro.contact.entity_plural_label
        route:
            name: oro_contact_view
            parameters:
                id: id
        search_template: '@OroContact/Contact/searchResult.html.twig'
        fields:
            -
                name:                   namePrefix
                target_type:            text
                target_fields:          [namePrefix]
            -
                name:                   firstName
                target_type:            text
                target_fields:          [firstName]
            -
                name:                   middleName
                target_type:            text
                target_fields:          [middleName]
            -
                name:                   lastName
                target_type:            text
                target_fields:          [lastName]
            -
                name:                   nameSuffix
                target_type:            text
                target_fields:          [nameSuffix]
            -
                name:                   description
                target_type:            text
                target_fields:          [description]
            -
                name:                   primaryEmail
                target_type:            text
                target_fields:          [primaryEmail]
            -
                name:                   primaryPhone
                target_type:            text
                target_fields:          [primaryPhone]
            -
                name:                   fax
                target_type:            text
                target_fields:          [fax]
            -
                name:                   skype
                target_type:            text
                target_fields:          [skype]
            -
                name:                   jobTitle
                target_type:            text
                target_fields:          [jobTitle]
            -
                name:                   twitter
                target_type:            text
                target_fields:          [twitter]
            -
                name:                   facebook
                target_type:            text
                target_fields:          [facebook]
            -
                name:                   linkedIn
                target_type:            text
                target_fields:          [linkedIn]
            -
                name:                   googlePlus
                target_type:            text
                target_fields:          [googlePlus]
            -
                name: phones
                relation_type: one-to-many
                relation_fields:
                    -
                        name: phone
                        target_type: text
                        target_fields: [contactPhones]
            -
                name: emails
                relation_type: one-to-many
                relation_fields:
                    -
                        name: email
                        target_type: text
                        target_fields: [email]
