{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as macros %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orocrm_magento_cart_index'),
        'indexLabel': 'Cart'|trans,
        'entityTitle': 'Cart'
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    <div class="cart-info-col-set well-small dark-bg">
        <div class="row-fluid well-small-bottom clearfix">
            {{
                oro_widget_render({
                    'widgetType': 'block',
                    'url':         path('orocrm_magento_cart_info', {id: entity.id}),
                    'title':      'Cart Information'|trans
                })
            }}
        </div>
    </div>
{% endblock content_data %}
