{% set subscribedId = constant('OroCRM\\Bundle\\MagentoBundle\\Entity\\NewsletterSubscriber::STATUS_SUBSCRIBED') %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% if newsletterSubscriber is defined and newsletterSubscriber.id is not empty %}
    {% if resource_granted('EDIT', newsletterSubscriber) %}
        <div class="pull-left" data-page-component-module="orocrmmagento/js/app/components/subscription-manager">
        {% if newsletterSubscriber.status.id|default(false) == subscribedId %}
        {{ UI.clientButton({
            'dataUrl' : path('orocrm_magento_newsletter_subscriber_unsubscribe', { 'id': newsletterSubscriber.id }),
            'aCss' : 'no-hash subscription unsubscribe-action',
            'label' : 'orocrm.magento.newslettersubscriber.action.unsubscribe'|trans
        }) }}
        {% else %}
        {{ UI.clientButton({
            'dataUrl' : path('orocrm_magento_newsletter_subscriber_subscribe', { 'id': newsletterSubscriber.id }),
            'aCss' : 'no-hash subscription subscribe-action',
            'label' : 'orocrm.magento.newslettersubscriber.action.subscribe'|trans
        }) }}
        {% endif %}
        </div>
    {% endif %}
{% elseif customer is defined and customer.originId %}
    {% if resource_granted('EDIT', customer) %}
        <div class="pull-left" data-page-component-module="orocrmmagento/js/app/components/subscription-manager">
        {% if customer.subscribed %}
        {{ UI.clientButton({
            'dataUrl' : path('orocrm_magento_newsletter_subscriber_unsubscribe_customer', { 'id': customer.id }),
            'aCss' : 'no-hash subscription unsubscribe-action',
            'label' : 'orocrm.magento.newslettersubscriber.action.unsubscribe'|trans
        }) }}
        {% else %}
        {{ UI.clientButton({
            'dataUrl' : path('orocrm_magento_newsletter_subscriber_subscribe_customer', { 'id': customer.id }),
            'aCss' : 'no-hash subscription subscribe-action',
            'label' : 'orocrm.magento.newslettersubscriber.action.subscribe'|trans
        }) }}
        {% endif %}
        </div>
    {% endif %}
{% endif %}
