{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
    {{ dataGrid.renderGrid('magento-customer-cart-grid', {'customerId': customer.id, 'channelId': channel.id}) }}
</div>
