{% include '@OroSales/Dashboard/forecastOfOpportunitiesSimpleSubwidget.html.twig' %}
{% if item.value.deviation is defined %}
<div class="deviation">
    <span class="deviation {% if item.value.isPositive is defined %}{% if item.value.isPositive %}positive{% else %}negative{% endif %}{% endif %}">
        {{ item.value.deviation|oro_html_sanitize|raw }}
    </span>
</div>
<div class="deviation">
    <span class="deviation">
        {{ 'oro.sales.dashboard.forecast_of_opportunities.compare_to'|trans }}:
    </span>
    <span class="date-range">{{ item.value.previousRange }}</span>
</div>
{% endif %}
