{% extends '@OroDashboard/Dashboard/widget.html.twig' %}

{% set widgetType = 'big-numbers' %}

{% block content %}
    {% if items|length %}
        <ul class="big-numbers-items has-{{ items|length }}-items">
            {% for itemName, item in items %}
                <li>
                    {% include widgetDataItems[itemName].template with {item: item}%}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="container-fluid">
            <div class="no-data">
                {{ 'oro.sales.dashboard.forecast_of_opportunities.no_available_metrics'|trans }}
            </div>
        </div>
    {% endif %}
{% endblock %}
