{#
    Available variables:
    * entity       - user entity OroCRM\Bundle\MagentoBundle\Entity\Order or null
    * indexer_item - indexer item Oro\Bundle\SearchBundle\Query\Result\Item
#}
{% extends 'OroSearchBundle:Search:searchResultItem.html.twig' %}

{% set showImage = false %}

{% set recordUrl = indexer_item.recordUrl %}
{% set title = entity ?
    'orocrm.magento.entity_number'|trans({'%entityName%': 'orocrm.magento.order.entity_label'|trans, '%entityNumber%': entity.incrementId})
    : indexer_item.recordTitle
%}

{% set entityType = 'orocrm.magento.order.entity_label'|trans %}

{% set customerData %}
    {% if entity.customer %}
        {% set customerViewGranted = resource_granted('orocrm_magento_customer_view') %}
        {%- if customerViewGranted -%}
            <a href="{{ path('orocrm_magento_customer_view', {'id': entity.customer.id}) }}">{{ entity.customer|oro_format_name|default('N/A'|trans)|escape }}</a>
        {%- else -%}
            {{ entity.customer|oro_format_name|default('N/A'|trans)|escape }}
        {%- endif -%}
    {% else %}
        {% trans %}N/A{% endtrans %}
    {% endif %}
{% endset %}

{% set entityInfo = [
    {'title': 'orocrm.magento.order.channel.label'|trans, 'value': entity.customer.channel|default(false) ? entity.customer.channel.name : 'N/A'},
    {'title': 'orocrm.magento.order.website.label'|trans, 'value': entity.customer.website|default(false) ? entity.customer.website.name : 'N/A'},
    {'title': 'orocrm.magento.order.store.label'|trans, 'value': entity.customer.store|default(false) ? entity.customer.store.name : 'N/A'},
    {'title': 'orocrm.magento.order.customer.label'|trans, 'value': customerData},
    {'title': 'oro.ui.created_at'|trans, 'value': entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A'},
    {'title': 'oro.ui.updated_at'|trans, 'value': entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A'},
    {'title': 'orocrm.magento.cart.grand_total.label'|trans, 'value': entity.totalAmount ? entity.totalAmount|oro_format_currency : 'N/A'},
    {'title': 'orocrm.magento.cart.sub_total.label'|trans, 'value': entity.subtotalAmount ? entity.subtotalAmount|oro_format_currency : 'N/A'},
] %}
