/* @theme: admin.oro; */

.form-element-text {
    display: inline-block;
    padding-top: 3px;
}

.form-horizontal .entities-form-container .controls .select2-container {
    // stylelint-disable-next-line declaration-no-important
    width: 250px !important;
}

.entities-form-container {
    margin-bottom: $content-padding-medium;
}

.control-group .controls .inline-text {
    display: inline-block;
    padding-top: 4px;
}

.entities-component .grid-container .grid .action-cell {
    text-align: right;
}

.orocrm-channel-datasource-field {
    padding-top: 3px;
}

.orocrm-channel-datasource-field.error {
    border: none;
    box-shadow: none;
}
