{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
    {{
        dataGrid.renderGrid(
            'magento-customer-recent-purchases-widget-grid', {
                'customerId': customer.id,
                'channelId': channel.id
            }
        )
    }}
</div>
