/* @theme: admin.oro; */

$contact-box-wrapper-display: flex !default;
$contact-box-wrapper-flex-wrap: wrap !default;
$contact-box-wrapper-offset: 0 0 0 (-$content-padding-small) !default;
$contact-box-wrapper-position: relative !default;

$contact-box-background-color: $primary-900 !default;
$contact-box-offset: 0 0 $content-padding-small $content-padding-small !default;
$contact-box-inner-offset: 12px $content-padding-medium !default;
$contact-box-width: calc(50% - #{$content-padding-small}) !default;

$contact-box-title-offset-bottom: $content-padding-small !default;

$contact-box-row-offset-top: $content-padding-small !default;

$contact-box-name-link-font-weight: font-weight('bold') !default;
$contact-box-name-link-label-offset-start: $content-padding-small * .5 !default;
$contact-box-name-link-label-vertical-align: 2px !default;

$contact-collection-element-offset-bottom: 2px !default;
$contact-collection-element-last-child-offset-bottom: -3px !default;

$contact-collection-element-primary-font-weight: font-weight('bold') !default;

$contact-element-label-offset-end: $content-padding-small * .5 !default;
