<div class="widget-content" id="addressBookWidget">
    {# JS template for address view #}
    <script type="text/html" id="template-addressbook-item">
        <address>
            <%= street %>&nbsp;<%= street2 %><br />
            <%= city %>, <%= state %><br />
            <%= postalCode %><br />
            <%= country %><br />
        </address>
    </script>

    <style>
        .lead-map-box .map-address-list,
        .lead-map-box .map-visual-frame {
            height: 280px;
        }

        .lead-map-box .map-visual {
            height: 260px;
        }

        .lead-map-box .map-unknown {
            line-height: 260px;
        }
    </style>

    {# widget container and actions #}
    <div class="map-box lead-map-box" id="address-book"></div>

    <script type="text/javascript">
        require(['jquery', 'oro/address-book', 'oro/widget-manager'],
        function($, AddressBook, widgetManager) {
            widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(){
                /** @type oro.AddressBook */
                var addressBook = new AddressBook({
                    el: '#address-book',
                    addressListUrl: {{ path('oro_api_get_lead_address', {leadId: entity.id})|json_encode|raw }}
                });
                addressBook
                    .getCollection()
                    .reset([
                        {{ render(path('oro_api_get_lead_address', {leadId: entity.id})) }}
                    ]);
            });
        });
    </script>
</div>
