<div class="widget-content" id="addressBookWidget">
    {# JS template for address view #}
    <script type="text/html" id="template-addressbook-item">
        <address>
            <%= _.escape(formatted_address).replace(/\n/g, "<br/>") %>
        </address>
    </script>

    {# widget container and actions #}
    <div class="list-box map-box lead-map-box" id="address-book"></div>

    <script type="text/javascript">
        require(['jquery', 'oroaddress/js/address-book', 'oroui/js/widget-manager'],
        function($, AddressBook, widgetManager) {
            widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(){
                /** @type oroaddress.AddressBook */
                var addressBook = new AddressBook({
                    el: '#address-book',
                    addressListUrl: {{ path('oro_api_get_lead_address', {leadId: entity.id})|json_encode|raw }}
                });
                addressBook
                    .getCollection()
                    .reset([
                        {{ render(path('oro_api_get_lead_address', {leadId: entity.id})) }}
                    ]);
            });
        });
    </script>
</div>
