{% extends 'OroUIBundle:actions:view.html.twig' %}

{% block stats %}
{% endblock stats %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orocrm_b2c_shopping_cart_index'),
        'indexLabel': 'Shopping Carts'|trans,
        'entityTitle': 'Shopping Cart #' ~ entity.id
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    <div class="contact-info-col-set well-small dark-bg">
        <div class="clearfix">
            <div class="responsive-cell contact-info-col">
                {{
                    oro_widget_render({
                        'widgetType': 'block',
                        'url': path('orocrm_b2c_shopping_cart_info', { id: entity.id }),
                        'title': 'Shopping Cart Information'|trans,
                        'alias': 'shopping_cart_info',
                        'contentClasses': ['form-horizontal']
                    })
                }}
            </div>

            <div class="responsive-cell contact-info-col">
                {{
                    oro_widget_render({
                        'widgetType': 'block',
                        'url': path('oro_workflow_widget_workflow_items', {entityClass: oro_class_name(entity), entityId: entity.id}),
                        'title': 'Workflow Items',
                        'alias': 'bind_workflow_items'
                    })
                }}
            </div>
        </div>
    </div>
{% endblock content_data %}
