{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set gridName = 'orocrm-sales-b2bcustomers-grid' %}
{% set pageTitle = 'orocrm.sales.b2bcustomer.entity_plural_label'|trans %}

{% block navButtons %}
    {% include 'OroImportExportBundle:ImportExport:buttons.html.twig' with {
        entity_class: entity_class,
        exportProcessor: 'orocrm_sales_b2bcustomer',
        exportTemplateProcessor: 'orocrm_sales_b2bcustomer',
        importProcessor: 'orocrm_sales_b2bcustomer',
        dataGridName: gridName
    } %}

    {% if resource_granted('orocrm_sales_b2bcustomer_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('orocrm_sales_b2bcustomer_create'),
                'entity_label': 'orocrm.sales.b2bcustomer.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
