{#
    Prepares options for channel form and initialize page component
    params:
        form                        - Symfony\Component\Form\FormView
        entitiesMetadata            - array of entities metadata
        integrationEntitiesMetadata - array of entities by integration
#}
{% macro initializeChannelForm(form, entitiesMetadata, integrationEntitiesMetadata) %}
    {% set options = {
        channelTypeEl:               '#' ~ form.channelType.vars.id,
        customerIdentityEl:          '#' ~ form.customerIdentity.vars.id,
        channelEntitiesEl:           '#' ~ form.entities.vars.id,
        entitiesMetadata:            entitiesMetadata,
        integrationEntitiesMetadata: integrationEntitiesMetadata,
        fields: {
            name:        '#' ~ form.name.vars.id,
            channelType: '#' ~ form.channelType.vars.id,
            tokenEl:     '#' ~ form._token.vars.id
        }
    } %}

    <div data-page-component-module="orocrmchannel/js/app/components/channel"
         data-page-component-options="{{ options|json_encode }}"></div>
{% endmacro %}
