{#
    Available variables:
    * entity       - user entity Oro\Bundle\MagentoBundle\Entity\Cart or null
    * indexer_item - indexer item Oro\Bundle\SearchBundle\Query\Result\Item
#}
{% extends 'OroSearchBundle:Search:searchResultItem.html.twig' %}

{% set showImage = false %}

{% set recordUrl = indexer_item.recordUrl %}
{% set title = entity ?
    'oro.magento.entity_number'|trans({'%entityName%': 'oro.magento.cart.entity_label'|trans, '%entityNumber%': entity.originId})
    : indexer_item.recordTitle
%}

{% set entityType = 'oro.magento.cart.entity_label'|trans %}

{% set customerData %}
    {% if entity.customer %}
        {% set customerViewGranted = is_granted('oro_magento_customer_view') %}
        {%- if customerViewGranted -%}
            <a href="{{ path('oro_magento_customer_view', {'id': entity.customer.id}) }}">{{ entity.customer|oro_format_name|default('N/A'|trans) }}</a>
        {%- else -%}
            {{ entity.customer|oro_format_name|default('N/A'|trans) }}
        {%- endif -%}
    {% else %}
        {% trans %}N/A{% endtrans %}
    {% endif %}
{% endset %}

{% set entityInfo = [
    {'title': 'oro.magento.cart.channel.label'|trans, 'value': entity.customer.channel|default(false) ? entity.customer.channel.name : 'N/A'},
    {'title': 'oro.magento.cart.website.label'|trans, 'value': entity.store.website|default(false) ? entity.store.website.name : 'N/A'},
    {'title': 'oro.magento.cart.store.label'|trans, 'value': entity.store|default(false) ? entity.store.name : 'N/A'},
    {'title': 'oro.magento.cart.customer.label'|trans, 'value': customerData},
    {'title': 'oro.ui.created_at'|trans, 'value': entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A'},
    {'title': 'oro.ui.updated_at'|trans, 'value': entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A'},
    {'title': 'oro.magento.cart.items_qty.label'|trans, 'value': entity.itemsQty ? entity.itemsQty : 'N/A'},
    {'title': 'oro.magento.cart.status.label'|trans, 'value': entity.status ? entity.status.label : 'N/A'},
    {'title': 'oro.magento.cart.grand_total.label'|trans, 'value': entity.grandTotal ? entity.grandTotal|oro_format_currency : 'N/A'},
    {'title': 'oro.magento.cart.sub_total.label'|trans, 'value': entity.subTotal ? entity.subTotal|oro_format_currency : 'N/A'},
] %}
