<script type="text/html" id="{{ id|e('html_attr')|raw }}">
    <div class="items list-box"></div>
    <div class="no-data">
        {{ "oro.case.casecomment.message.no_records"|trans|e('html')|raw }}
    </div>
    <div class="loading-mask"></div>
</script>
