{% extends bap.layout is defined ? bap.layout : 'OroUserBundle::layout.html.twig' %}

{% set title = form.vars.value.id ? 'Edit group' : 'Add group' %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>{{ title }}</h1>
        {% include 'OroUserBundle:Group:edit.form.html.twig' %}
    </div>
{% endblock %}
