{% extends bap.layout is defined ? bap.layout : 'OroUserBundle::layout.html.twig' %}

{% block title %}{{ 'Password already requested'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
<div class="alert alert-warn">
    <div>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</div>
</div>
{% endblock content %}
