<li>
    <div class="label label-info orocrm-channel-lifetime-value-label">
        {{ 'orocrm.account.lifetime_value.label'|trans }}:
        {{ orocrm_channel_account_lifetime(entity)|oro_format_currency }}
    </div>
</li>
