.rfm_category_settings input {
    width: 70px;
    height: 14px;
}

.rfm_settings_row {
    width: 330px;
    margin: 2px 0;
    padding: 3px;
}

.rfm_settings_row:hover {
    background-color: #f5f5f5;
}

.rfm_settings_row .actions {
    display: inline-block;
}

.rfm-analytics-label {
    padding: 4px 10px;
    cursor: default;
}

.rfm-analytics-label-vertical {
    margin: 5px;
}

.rfm-analytics-label span:not(:first-child) {
    padding-left: 7px;
}

.rfm-analytics-label p {
    margin: 2px 0;
}

.rfm-analytics-label-wrapper {
    float: right;
    height: 0;
    margin-top: 17px;
}
