<ul>
    {% for fieldKey, fieldValue in value %}
    <li>
        <b>{{ fieldKey }}:</b>
        {% if fieldValue.old.timestamp is defined %}
        <s>{{ fieldValue.old|date('m/d/Y') }}</s>
        {% else %}
        <s>{{ fieldValue.old }}</s>
        {% endif %}
        {{ fieldValue.new.timestamp is defined ? fieldValue.new|date('m/d/Y') : fieldValue.new }}
    </li>
    {% endfor %}
</ul>
