{% extends "OroUIBundle:Default:index.html.twig" %}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/bootstrap/js/bootstrap-tooltip.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/bootstrap/js/bootstrap-popover.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="page-container">
        <div class=" layout-content">
            <div class="clearfix">
                <div class="pin-bar clearfix">
                    <div class="pin-menus">
                        <span>...</span>
                        <div class="drop-down">
                            <div class="tabbable tabs-left">
                                <ul class="nav nav-tabs">
                                    <li class="active" ><a data-toggle="tab"href="#lA"><i class="icon-folder-close"></i>Tabs</a></li>
                                    <li><a data-toggle="tab"  href="#lB"><i class="icon-time"></i>History</a></li>
                                    <li><a data-toggle="tab"  href="#lC"><i class="icon-star"></i>Most Viewed</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="lA" class="tab-pane active">
                                        <ul class="extra-list">
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Wednesday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Tuesday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Thursday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Friday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Saturday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Tuesday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Thursday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Friday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Saturday</a></li>
                                        </ul>
                                    </div>
                                    <div id="lB" class="tab-pane">
                                        <p>I'm in Section b.</p>
                                    </div>
                                    <div id="lC" class="tab-pane">
                                        <p>I'm in Section AC.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-bar">
                        <li class="item">LA Customers</li>
                        <li class="item">NY Customers</li>
                        <li><a class="btn-close" href="#">close</a>Yoav asked to do this </li>
                        <li><a class="btn-close" href="#">close</a>Finish this before lea...</li>
                        <li><a class="btn-close" href="#">close</a>Jary asked to do this</li>
                        <li><a class="btn-close" href="#">close</a>Yoav asked to do this</li>
                        <li><a class="btn-close" href="#">close</a>Portland Office</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"><div class="navbar application-menu">
                <div class="cleearfix">
                    <div class="container">
                        <div class=" navbar-responsive-collapse">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="home"><a href="#myhome"><span>Home</span></a></li>
                                <li><a href="#mycrm">My CRM</a></li>
                                <li><a href="#mypim">My PIM</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div></div>
            <div class="clearfix application-menu">
                <div class="tab-content">
                    <div class="tab-pane" id="myhome">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#">Dashboard</a>
                            </li>
                            <li><a href="#">Leads</a></li>
                            <li><a href="#">Customers</a></li>
                            <li><a href="#">Accounts</a></li>
                            <li><a href="#">Forecasts</a></li>
                            <li><a href="#">Reports</a></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="mycrm">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#">Dashboard</a>
                            </li>
                            <li><a href="#">Leads</a></li>
                            <li><a href="#">Customers</a></li>
                            <li><a href="#">Accounts</a></li>
                            <li><a href="#">Forecasts</a></li>
                            <li><a href="#">Reports</a></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="mypim">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#">Dashboard pim</a>
                            </li>
                            <li><a href="#">Leads pim</a></li>
                            <li><a href="#">Customers pim</a></li>
                            <li><a href="#">Accounts pim</a></li>
                            <li><a href="#">Forecasts pim</a></li>
                            <li><a href="#">Reports pim</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <script>
                $(function () {
                    console.clear()
                    $('#myTab a:last').tab('show');
                    $('#myTab a').click(function (e) {
                        e.preventDefault();
                        $(this).tab('show');
                    })
                    $('a.popup-me').popover();
                })
            </script>
        </div>

    </div>
{% endblock content %}