{% extends "OroUIBundle:Default:index.html.twig" %}
{% block title %}Dashboard | Grid{% endblock title %}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/bootstrap/js/bootstrap-tooltip.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/bootstrap/js/bootstrap-popover.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="page-container">
        <div class="layout-content">
            <div class="clearfix">
                <div class="pin-bar clearfix">
                    <div class="pin-menus">
                        <span>...</span>
                        <div class="drop-down">
                            <div class="tabbable tabs-left">
                                <ul class="nav nav-tabs">
                                    <li class="active" ><a data-toggle="tab"href="#lA"><i class="icon-folder-close"></i>Tabs</a></li>
                                    <li><a data-toggle="tab"  href="#lB"><i class="icon-time"></i>History</a></li>
                                    <li><a data-toggle="tab"  href="#lC"><i class="icon-star"></i>Most Viewed</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="lA" class="tab-pane active">
                                        <ul class="extra-list">
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Wednesday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Tuesday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Thursday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Friday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Saturday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Tuesday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Thursday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Friday</a></li>
                                            <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Saturday</a></li>
                                        </ul>
                                    </div>
                                    <div id="lB" class="tab-pane">
                                        <p>I'm in Section b.</p>
                                    </div>
                                    <div id="lC" class="tab-pane">
                                        <p>I'm in Section AC.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-bar">
                        <li class="item">LA Customers</li>
                        <li class="item">NY Customers</li>
                        <li><a class="btn-close" href="#">close</a>Yoav asked to do this </li>
                        <li><a class="btn-close" href="#">close</a>Finish this before lea...</li>
                        <li><a class="btn-close" href="#">close</a>Jary asked to do this</li>
                        <li><a class="btn-close" href="#">close</a>Yoav asked to do this</li>
                        <li><a class="btn-close" href="#">close</a>Portland Office</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"><div class="navbar application-menu">
                <div class="cleearfix">
                    <div class="container">
                        <div class=" navbar-responsive-collapse">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="home"><a href="#myhome"><span>Home</span></a></li>
                                <li><a href="#mycrm">My CRM</a></li>
                                <li><a href="#mypim">My PIM</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div></div>
            <div class="clearfix application-menu">
                <div class="tab-content">
                    <div class="tab-pane" id="myhome">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#">Dashboard</a>
                            </li>
                            <li><a href="#">Leads</a></li>
                            <li><a href="#">Customers</a></li>
                            <li><a href="#">Accounts</a></li>
                            <li><a href="#">Forecasts</a></li>
                            <li><a href="#">Reports</a></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="mycrm">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#">Dashboard</a>
                            </li>
                            <li><a href="#">Leads</a></li>
                            <li><a href="#">Customers</a></li>
                            <li><a href="#">Accounts</a></li>
                            <li><a href="#">Forecasts</a></li>
                            <li><a href="#">Reports</a></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="mypim">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#">Dashboard pim</a>
                            </li>
                            <li><a href="#">Leads pim</a></li>
                            <li><a href="#">Customers pim</a></li>
                            <li><a href="#">Accounts pim</a></li>
                            <li><a href="#">Forecasts pim</a></li>
                            <li><a href="#">Reports pim</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <script>
                $(function () {
                    $('#myTab a:last').tab('show');
                    $('#myTab a').click(function (e) {
                        e.preventDefault();
                        $(this).tab('show');
                    })
                    $('a.popup-me').popover();
                })
            </script>
            <div class="filter-box container-fluid">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">Account Owner: <strong>Me</strong> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#"> Me2</a></li>
                        <li><a href="#"> M3</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">Last update: <strong>2012/12/12-2012/12/18</strong><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Last update: <strong>2010/12/12-2013/18/18</strong></a></li>
                        <li><a href="#">Last update: <strong>2011/12/12-2014/11/18</strong></a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">Status: <strong>All</strong><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">only short</a></li>
                        <li><a href="#">this is long text for test</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">Billing Country: <strong>United States</strong><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Africa</a></li>
                        <li><a href="#">Russia</a></li>
                        <li><a href="#">Ukraine</a></li>
                        <li><a href="#">Germany</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">Last update: <strong>2012/12/12-2012/12/18</strong><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Last update: <strong>2010/12/12-2013/18/18</strong></a></li>
                        <li><a href="#">Last update: <strong>2011/12/12-2014/11/18</strong></a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">Status: <strong>All</strong><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">only short</a></li>
                        <li><a href="#">this is long text for test</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">Billing Country: <strong>United States</strong><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Africa</a></li>
                        <li><a href="#">Russia</a></li>
                        <li><a href="#">Ukraine</a></li>
                        <li><a href="#">Germany</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">Last update: <strong>2012/12/12-2012/12/18</strong><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Last update: <strong>2010/12/12-2013/18/18</strong></a></li>
                        <li><a href="#">Last update: <strong>2011/12/12-2014/11/18</strong></a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">Status: <strong>All</strong><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">only short</a></li>
                        <li><a href="#">this is long text for test</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">Billing Country: <strong>United States</strong><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Africa</a></li>
                        <li><a href="#">Russia</a></li>
                        <li><a href="#">Ukraine</a></li>
                        <li><a href="#">Germany</a></li>
                    </ul>
                </div>
                <a href="#" class="btn btn-link btn-group">+ Add another</a>
            </div>
            <div class="grid-toolbar well-small">
                <div class="pull-right">
                    <label class="control-label">View per page:</label>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn dropdown-toggle">100<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">10</a></li>
                            <li><a href="#">25</a></li>
                            <li><a href="#">50</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button class="btn"><i class="icon-eye2-open hide-text">hide</i></button>
                        <button class="btn"><i class="icon-sort hide-text">copy</i></button>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="btn-group">
                        <button class="btn"><i class="icon-edit hide-text">edit</i></button>
                        <button class="btn"><i class="icon-copy hide-text">copy</i></button>
                        <button class="btn"><i class="icon-pin hide-text">pin/unpin</i></button>
                        <button class="btn"><i class="icon-trash hide-text">remove</i></button>
                    </div>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn dropdown-toggle">Status: <strong>All</strong><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">only short</a></li>
                            <li><a href="#">this is long text for test</a></li>
                        </ul>
                    </div>
                </div>
                <div class="pagination pagination-centered">
                    <ul>
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}