{% set websiteActivityContent %}
    <div class="scrollspy-nav-target"></div>
    <div class="row-fluid row-fluid-divider">
        {% placeholder oro_website_summary with {'customers': customers, 'byChannel': byChannel} %}
    </div>
{% endset %}

{% set customerIds = [] %}
{% for customer in customers %}
    {% set customerIds = customerIds|merge([customer.id]) %}
{% endfor %}

{% set tabs = [
    {
        'alias': 'oro_magento_customer_website_metrics',
        'widgetType': 'block',
        'label': 'oro.magento.website_activity.summary.label'|trans,
        'url': '#',
        'content': websiteActivityContent
    },
    {
        'alias': 'oro_magento_customer_website_events',
        'widgetType': 'block',
        'label': 'oro.magento.website_activity.events.label'|trans,
        'url': path(
            'oro_magento_widget_tracking_events',
            {'customerIds': customerIds}
        )
    }
] %}

<div class="responsive-cell customer-without-border-tabs">
    {{ tabPanel(tabs) }}
</div>
