<div class="responsive-cell">
    <div class="box-type1">
        <div class="title">
            <span class="widget-title">{{ 'oro.magento.website_activity.chart.label'|trans }}</span>
        </div>
        <div class="row-fluid">
            {{ data.chartView.render()|raw }}
        </div>
    </div>
</div>
