{% block oro_analytics_rfm_category_row %}
    <div class="rfm-settings-row">
        {{ form_widget(form.category_index) }}
        {{ form_widget(form.min_value) }}
        {{ form_widget(form.max_value) }}
    </div>
{% endblock %}
