{% set assignedToId = record.getValue('assignedToId') %}
{% if is_granted('oro_user_user_view') and assignedToId %}
    <a href="{{ path('oro_user_view', {id: assignedToId}) }}">
        {{ value }}
    </a>
{% else %}
    {{ value }}
{% endif %}
