<script id="magento-big-numbers-metric-select-template" type="text/template">
    <div class="pull-left metric-selector-widget">
        <select class="metric-select" filter-select-oro">
            <option></option>
            <% metrics.each(function (metric) { %>
                <option value="<%= metric.get('id') %>"><%= metric.get('label') %></option>
            <% }); %>
        </select>
    </div>
</script>

<script id="magento-big-numbers-metric-template" type="text/template">
    <tr data-cid="<%= cid %>">
        <td><%= label %></td>
        <td>
            <input type="hidden" name="<%= namePrefix %>[id]" value="<%= id %>">
            <input data-name="order" type="hidden" class="order" name="<%= namePrefix %>[order]" value="<%= order %>">
            <input class="hide" data-name="show" type="checkbox" name="<%= namePrefix %>[show]" <%= show ? 'checked' : '' %>>
            <a href="javascript: void(0);" class="action no-hash delete-button"
                    title="{{ 'orocrm.magento.datagrid.actions.delete.label'|trans }}"
                    data-collection-action="delete">
                <i class="icon-trash hide-text"></i>\n\
            </a>
            <span title="{{ 'orocrm.magento.datagrid.actions.move_column.label'|trans }}">
                <i class="icon-list handle"></i>
            </span>
        </td>
    </tr>
</script>
