# This is is adidtional configuration for phpstan rules, see https://github.com/oroinc/phpstan-rules/blob/master/README.md
trusted_data:
    variables:
        Oro\Bundle\ContactBundle\Entity\Repository\ContactRepository:
            getPrimaryEmailsQb:
                fullNameQueryPart: true
            getSecondaryEmailsQb:
                fullNameQueryPart: true
