.alert.connection-status {
    margin: 10px 0;
    float: none;
}
.product-info-widget,
.customer-info-widget,
.order-info-widget {
    /*min-height: 300px;*/
}
.magento-website-selector-container .selector {
    float:left;
}
.magento-website-selector-container .selector > span {
    overflow: hidden;
}
.magento-website-selector-container .selector select {
    width: 235px !important;
}
.magento-website-selector-container .sync-website-list-link {
    line-height: 26px;
    margin-left: 15px;
}
#magento-without-border-tabs{
    min-width: 595px;
    padding-left: 0px;
}

#magento-without-border-tabs .oro-tabs .tab-content{
    border: none;
    padding-left: 1px;
}
#magento-without-border-tabs .oro-tabs ul li.active a:hover,
#magento-without-border-tabs .oro-tabs ul li.active a:focus,
#magento-without-border-tabs .oro-tabs ul li.active a {
    border-left: none;
}
#magento-without-border-tabs .oro-tabs .nav-tabs > li:first-child > a,
#magento-without-border-tabs .oro-tabs .nav-tabs > li:first-child > a:hover,
#magento-without-border-tabs .oro-tabs .nav-tabs > li:first-child > a:focus {
    border-left: none;
}
