.alert.connection-status {
    margin: 10px 0;
    float: none;
}
.product-info-widget,
.customer-info-widget,
.order-info-widget {
    /*min-height: 300px;*/
}
.magento-website-selector-container {
    position: relative;
}
.magento-website-selector-container .selector > span {
    overflow: hidden;
}
.magento-website-selector-container .selector select {
    width: 235px !important;
}
.magento-website-selector-container .sync-website-list-link {
    line-height: 28px;
    position: absolute;
    top: 0;
    left: 305px;
    white-space: nowrap;
}
#magento-without-border-tabs{
    padding-left: 0;
}
#magento-without-border-tabs.responsive-cell {
    margin-top: -1px;
}

#magento-without-border-tabs .oro-tabs {
    padding-left: 1px;
}

#magento-without-border-tabs .oro-tabs .tab-content{
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.mess-pos {
    margin-left: 10px;
}

.place-order-transaction-dialog {
}

.ui-dialog-minimized.place-order-transaction-dialog {
    min-width: 0;
    min-height: 0;
}

/* fix FF block height */
.place-order-transaction-dialog .form-dialog,
.place-order-transaction-dialog .form-dialog > div,
.place-order-transaction-dialog .form-dialog > div > div,
.place-order-transaction-dialog .form-dialog > div > div > div {
    height: 100%;
}

.place-order-transaction-dialog .ui-dialog-content {
    /* prevent JS resizing */
    overflow: hidden;
    padding: 0;
}

.place-order-transaction-dialog .ui-dialog-content .widget-content {
    height: 100%;
}

.place-order-transaction-dialog .ui-dialog-buttonpane {
    /* hide empty button pane */
    display: none;
}

.collection-remove-disabled + .removeRow {
    display: none;
}
.customer-info ul.inline li.magento-customer-info {
    border-left: 0 none;
    vertical-align: middle;
    padding-left: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}
.customer-info ul.inline li.magento-customer-info .orocrm-channel-lifetime-value-label {
    margin-left: 0;
    margin-right: 10px;
}
.customer-info ul.inline li.magento-customer-info > div {
    float: none;
}
.place-order-transaction-dialog #orderPlaceFrame.loaded {
    height: 100%;
    width: 100%;
}
.mobile-version .place-order-transaction-dialog .order-form-widget.widget-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
