{% extends bap.layout is defined ? bap.layout : 'OroUserBundle::layout.html.twig' %}

{% block title %}{{ 'Users overview'|trans }} - {{ 'User Management'|trans }}{% endblock %}

{% block head_script %}
    {{ parent() }}

    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagrid': datagrid, 'selector': '#users-grid'} %}
    {% include 'OroGridBundle:Include:stylesheet.html.twig' %}
{% endblock %}

{% block page_container %}
<div class="container-fluid">
{% block content %}
    <h1>Users overview <a class="btn btn-primary pull-right" href="{{ path('oro_user_create', {back: app.request.uri}) }}">Add new</a></h1>
    <div id="users-grid"></div>
{% endblock %}
</div>
{% endblock %}
