/* @theme: admin.oro; */

$contact-collection-element-mobile-margin-bottom: $content-padding-medium !default;

$contact-box-mobile-width: calc(100% - #{$content-padding-medium}) !default;

$contact-widget-wrapper-mobile-inner-offset-start: 0 !default;

$contact-box-type1-mobile-offset: 0 !default;

$contact-box-wrapper-mobile-inner-offset: 0 !default;
