{% extends 'OroUIBundle:actions:view.html.twig' %}

{% block stats %}
{% endblock stats %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orocrm_b2c_shopping_cart_index'),
        'indexLabel': 'Orders'|trans,
        'entityTitle': 'Order #' ~ entity.id
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    <div class="contact-info-col-set well-small dark-bg">
        <div class="clearfix">
            <div class="responsive-cell contact-info-col">
                <b>Customer:</b> {{ entity.customer }}
            </div>
        </div>
    </div>
{% endblock content_data %}
