.activity-list-widget .activity-contact-info-title {
    display: block;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
    position: absolute;
    top: -59px;
    right: -15px;
    color: #777;
}
