<div class="widget-content" id="addressBookWidget">
    <div class="widget-actions">
        <button class="btn btn-mini btn-primary btn-uppercase" type="button"> + add Address</button>
    </div>

    <div id="address-book"></div>
    <script type="text/javascript">
        $('#addressBookWidget').on('widgetize', function() {
            new OroAddressBook({
                el: '#address-book',
                collection: new OroAddressCollection([
                    new OroAddress({
                        'id': 1,
                        'street': 'Street',
                        'street2': 'Street2',
                        'city': 'City',
                        'country': 'Country',
                        'postalCode': 'postalCode',
                        'state': 'State',
                        'isPrimary': true,
                        'types': ['type1', 'type2']
                    })
                ])
            }).render();
        });
    </script>
</div>