{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'contacts-grid' %}
{% set pageTitle = 'orocrm.contact.entity_plural_label'|trans %}

{% block navButtons %}
    {% include 'OroImportExportBundle:ImportExport:buttons.html.twig' with {
        entity_class: entity_class,
        exportProcessor: 'orocrm_contact',
        exportTemplateProcessor: 'orocrm_contact',
        importProcessor: 'orocrm_contact.add_or_replace',
        importTitle: 'orocrm.contact.import'|trans,
        dataGridName: gridName
    } %}

    {% if resource_granted('orocrm_contact_create') %}
    <div class="btn-group">
        {{ UI.addButton({
            'path' : path('orocrm_contact_create'),
            'entity_label': 'orocrm.contact.entity_label'|trans,
        }) }}
    </div>
    {% endif %}
{% endblock %}
