<div id="SkypeButton_Call_{{ username }}_1" class="skype-button">
    <script type="text/javascript">
        (function() {
            Skype.ui({
                "name": "call",
                "element": "SkypeButton_Call_{{ username }}_1",
                "participants": ["{{ username }}"]
            });
        })();
    </script>
</div>

