{% block form_row %}
    {% apply spaceless %}
        <div class="{% if attr.class is defined %} {{ attr.class }}{% endif %}{% if errors|length > 0 %} validation-error{% endif %}">
            {% if label is not same as(false) %}
                {{ form_label(form, '' , { label_attr: label_attr }) }}
            {% endif %}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endapply %}
{% endblock form_row %}
