search:
    Oro\Bundle\AccountBundle\Entity\Account:
        alias: oro_account
        label: oro.account.entity_plural_label
        route:
            name: oro_account_view
            parameters:
                id: id
        search_template: '@OroAccount/Account/searchResult.html.twig'
        fields:
            -
                name: name
                target_type: text
                target_fields: [name]
            -
                name: defaultContact
                relation_type: one-to-one
                relation_fields:
                    -
                        name:                   namePrefix
                        target_type:            text
                        target_fields:          [namePrefix]
                    -
                        name:                   firstName
                        target_type:            text
                        target_fields:          [firstName]
                    -
                        name:                   middleName
                        target_type:            text
                        target_fields:          [middleName]
                    -
                        name:                   lastName
                        target_type:            text
                        target_fields:          [lastName]
                    -
                        name:                   nameSuffix
                        target_type:            text
                        target_fields:          [nameSuffix]
                    -
                        name:                   primaryEmail
                        target_type:            text
                        target_fields:          [primaryEmail]
                    -
                        name:                   primaryPhone
                        target_type:            text
                        target_fields:          [primaryPhone]
                    -
                        name: phones
                        relation_type: one-to-many
                        relation_fields:
                            -
                                name: phone
                                target_type: text
                                target_fields: [contactPhones]
                    -
                        name: emails
                        relation_type: one-to-many
                        relation_fields:
                            -
                                name: email
                                target_type: text
                                target_fields: [email]
            -
                name: contacts
                relation_type: many-to-many
                relation_fields:
                    -
                        name:                   namePrefix
                        target_type:            text
                        target_fields:          [namePrefix]
                    -
                        name:                   firstName
                        target_type:            text
                        target_fields:          [firstName]
                    -
                        name:                   middleName
                        target_type:            text
                        target_fields:          [middleName]
                    -
                        name:                   lastName
                        target_type:            text
                        target_fields:          [lastName]
                    -
                        name:                   nameSuffix
                        target_type:            text
                        target_fields:          [nameSuffix]
                    -
                        name:                   primaryEmail
                        target_type:            text
                        target_fields:          [primaryEmail]
                    -
                        name:                   primaryPhone
                        target_type:            text
                        target_fields:          [primaryPhone]
                    -
                        name: phones
                        relation_type: one-to-many
                        relation_fields:
                            -
                                name: phone
                                target_type: text
                                target_fields: [contactPhones]
                    -
                        name: emails
                        relation_type: one-to-many
                        relation_fields:
                            -
                                name: email
                                target_type: text
                                target_fields: [email]
