{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="grid-container">
    <div class="box-type1">
        <div class="title">
            <span class="widget-title">{{ "oro.sales.opportunity.relevant_opportunities"|trans }}</span>
        </div>

        <div class="row-fluid">
            {{
                dataGrid.renderGrid(
                    'sales-customers-filtered-opportunities-grid',
                    {
                        'entityId':   entity.id,
                        'customer':   entity.customer.id
                    }
                )
            }}
        </div>
    </div>
</div>
