{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% set gridName = 'sales-opportunity-grid' %}
{% set pageTitle = 'oro.sales.opportunity.entity_plural_label'|trans %}

{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% include '@OroImportExport/ImportExport/buttons_from_configuration.html.twig' with {
        'alias': 'oro_opportunity'
    } %}

    {% if is_granted('oro_sales_opportunity_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('oro_sales_opportunity_create'),
                'entity_label': 'oro.sales.opportunity.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
