{% import '@OroDataGrid/macros.html.twig' as dataGrid %}

{% set gridName = 'sales-customers-opportunities-grid' %}

{% if app.request.query.get('grid') and app.request.query.get('grid')[gridName] is defined %}
    {% set gridName = 'sales-customers-opportunities-alternate-grid' %}
{% endif %}

<div class="widget-content">
    {{ dataGrid.renderGrid(gridName, gridParams, {cssClass: 'inner-grid'}) }}
</div>
