{% block orocrm_channel_datasource_form_row %}
    {{ block('form_row') }}
{% endblock %}

{% block orocrm_channel_datasource_form_widget %}
    {{ form_widget(form) }}

    {% set options = {
        idEl:   '#' ~ form.identifier.vars.id,
        dataEl: '#' ~ form.data.vars.id,
        typeEl: '#' ~ form.type.vars.id,
        nameEl: '#' ~ form.name.vars.id,
    } %}

    <div data-page-component-module="orocrmchannel/js/app/components/integration-widget"
         data-page-component-options="{{ options|json_encode }}"></div>
{% endblock %}

{% block orocrm_channel_entity_choice_form_row %}
    {# Storage element will be hidden field #}
    {#{{ block('hidden_widget') }}#}
{% endblock %}
