{% block grid_filter %}
{% endblock %}

{% block grid_content %}
<table border="1" style="color: red;">
    {% block grid_header %}
        <thead>
            <tr>
                {% for field in datagrid.columns %}
                    {% block grid_header_field %}
                        <th>{{ field.label }}</th>
                    {% endblock %}
                {% endfor %}
            </tr>
        </thead>
    {% endblock %}
    {% block grid_body %}
        <tbody>
            {% for row in datagrid.results %}
                {% block grid_body_row %}
                    <tr>
                        {% for field in datagrid.columns %}
                            {% block grid_body_row_field %}
                                <td>{{ attribute(row, field.name) }}</td>
                            {% endblock %}
                        {% endfor %}
                    </tr>
                {% endblock %}
            {% endfor %}
        </tbody>
    {% endblock %}
    {% block grid_footer %}
        <tfoot>
        </tfoot>
    {% endblock %}
</table>
{% endblock %}
