{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}

{% set gridName = 'oro-sales-b2bcustomers-grid' %}
{% set pageTitle = 'oro.sales.b2bcustomer.entity_plural_label'|trans %}

{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% include '@OroImportExport/ImportExport/buttons_from_configuration.html.twig' with {
        'alias': 'oro_b2b_customer'
    } %}

    {% if is_granted('oro_sales_b2bcustomer_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('oro_sales_b2bcustomer_create'),
                'entity_label': 'oro.sales.b2bcustomer.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
