<div class="clearfix">
    <div class="span6 entities-component">
        <div class="form-container clearfix" data-validation-ignore></div>
        <div class="grid-container">
            <table class="grid table-hover table table-bordered table-condensed" style="display: table;">
                <thead>
                <tr>
                    <th class="name-column"><span><%= __('Entity') %></span></th>
                    <th class="action-column"><span><%= __('Actions') %></span></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="no-data">
            <span><%= __('There is no entities selected') %></span>
        </div>
    </div>
</div>
