{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% set gridName  = 'orcrm-contact-requests-grid' %}
{% set pageTitle = 'oro.contactus.contactrequest.entity_plural_label'|trans %}


{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% if is_granted('oro_contactus_request_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('oro_contactus_request_create'),
                'entity_label': 'oro.contactus.contactrequest.entity_label'|trans,
            }) }}
        </div>
    {% endif %}
{% endblock %}
