/* @theme: admin.oro; */

/* stylelint-disable no-descending-specificity, selector-max-compound-selectors */

/**
* Fix form style in system configuration
*/
form[name='opportunity'] {
    .form-horizontal-large,
    .form-horizontal {
        .control-group-oro_sales_opportunity_probability,
        .control-group-oro_sales_opportunity_status_config {
            > .controls {
                margin-left: 0;
            }
        }

        .control-group-oro_entity_config_scope_type.control-group {
            display: block;
        }

        .enum-value-collection {
            width: 318px;
        }

        .control-group-oro_entity_config_scope_type {
            > .controls {
                margin-left: 0;
            }
        }
    }
}

.oro-item-collection .input-append-sortable {
    .system-configuration-content-wrapper & {
        input[type='text']:first-child {
            width: 220px;
        }
    }

    input[type='text'].add-on-input {
        display: inline-block;
        text-shadow: 0 1px 0 $primary-inverse;
        margin-left: -2px;
        border-radius: 0;
        width: 40px;
    }

    .add-on {
        vertical-align: baseline;
        text-align: center;
        justify-content: center;

        &.float-width {
            width: auto;
        }
    }
}

.sales-account-autocomplete {
    .select2-results > .select2-result:first-child {
        border-top: none;
        padding-top: 0;
        margin-bottom: 7px;
    }

    .select2-results > .select2-result {
        border-top: 1px solid $primary-860;
        padding-top: 13px;
        margin-bottom: 7px;
    }

    .select2-results {
        .select2-result-label {
            .separated-img {
                width: 16px;
            }
        }

        .select2-result-with-children.select2-highlighted {
            background: $primary-inverse;

            .type {
                color: $primary-600;
            }

            .match-value {
                color: $primary-600;
            }
        }

        .select2-highlighted {
            background: $info;

            .type {
                color: $primary-inverse;
            }

            .match-value {
                color: $primary-inverse;
            }
        }

        .type {
            color: $primary-600;
        }

        .match-value {
            font-size: 11px;
            font-weight: font-weight('light');
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            color: $primary-600;
            margin-left: 27px;
        }
    }

    .select2-results .select2-results-dept-1 .select2-result-label {
        padding-left: 7px;
    }

    .select2-result-with-children > .select2-result-label {
        display: none;
    }
}
