<% if (icon.type === 'file-path') { %>
    <img src="<%= icon.data.path %>">
<% } else if (icon.type === 'icon') { %>
    <i class="<%= icon.data.class %> hide-text"></i>
<% } %>
<%= _.escape(text) %>
<% if (id === null) { %>
    <span class="select2__result-entry-info">
        (<%= _.__('oro.sales.form.add_new_customer', {'account': context.account}) %>)
    </span>
<% } %>
