api:
    entities:
        Oro\Bundle\ChannelBundle\Entity\Channel:
            documentation_resource: '@OroChannelBundle/Resources/doc/api/channel.md'
            fields:
                id: ~
                name: ~
                active:
                    property_path: status
                owner:
                    exclude: true
                customerIdentity:
                    exclude: true
                entities:
                    data_type: entityType[]
                    exclusion_policy: all
                    collapse: true
                    fields:
                        name:
                            data_type: entityType
                data:
                    exclude: true
            actions:
                create: false
                update: false
                delete: false
                delete_list: false

        Oro\Bundle\ChannelBundle\Entity\EntityName:
            # this entity does not have own API resource
            actions: false
