{% import '@OroDataGrid/macros.html.twig' as dataGrid %}

<div class="widget-content">
    {% set scope = 'customer-' ~ entity.id %}
    {{ dataGrid.renderGrid(
        oro_datagrid_build_fullname('sales-b2bcustomer-opportunities-grid', scope),
        {customerId: entity.id},
        {cssClass: 'inner-grid'}
    ) }}
</div>
