{% block orocrm_contactphone_updater_js %}
    <script type="text/template" id="contactphone-chooser-template">
        <% _.each(contactphones, function(p, i) { %>
            <option <% if (p.get('primary')) { %> selected="selected" <% } %> value="<%= p.get('id') %>"><%= p.get('phone') %></option>        
        <% }); %>
            <option value="-1">{% trans %}Other{% endtrans %}...</option>
    </script>
{% endblock orocrm_contactphone_updater_js %}
