{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'contact-requests-grid' %}
{% set pageTitle = 'orocrm.contactus.contactrequest.entity_plural_label'|trans %}


{% block navButtons %}
    {% if resource_granted('orocrm_contactus_request_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('orocrm_contactus_request_create'),
                'entity_label': 'orocrm.contactus.contactrequest.entity_label'|trans,
            }) }}
        </div>
    {% endif %}
{% endblock %}