{% block page_container %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% set options = {} %}

    {% if cartId is defined %}
        {% set options = options|merge({
            cartSyncURL: path('oro_magento_orderplace_new_cart_order_sync', {id: cartId})
        }) %}
    {% elseif customerId is defined %}
        {% set options = options|merge({
            customerSyncURL: path('oro_magento_orderplace_new_customer_order_sync', {id: customerId})
        }) %}
    {% endif %}

    {% set placeOrderComponentOptions = {
        module: 'oromagento/js/app/components/place-order-component',
        options: {
            wid: app.request.get('_wid'),
            errorMessage: error
        }|merge(options)
    } %}

    <div class="order-form-widget widget-content" {{ UI.renderPageComponentAttributes(placeOrderComponentOptions) }}>
        {% if not error %}
            <iframe id="orderPlaceFrame" data-src="{{ sourceUrl }}" src="" width="1" height="1" frameborder="0"></iframe>
        {% endif %}
    </div>
{% endblock %}
