{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'sales-opportunity-grid' %}
{% set pageTitle = 'orocrm.sales.opportunity.entity_plural_label'|trans %}

{% block navButtons %}
    {% include 'OroImportExportBundle:ImportExport:buttons.html.twig' with {
        entity_class: entity_class,
        exportProcessor: 'orocrm_sales_opportunity',
        exportTemplateProcessor: 'orocrm_sales_opportunity',
        importProcessor: 'orocrm_sales_opportunity.add_or_replace',
        importTitle: 'oro.importexport.import.entity'|trans({'%entityName%': 'orocrm.sales.opportunity.entity_plural_label'|trans}),
        dataGridName: gridName
    } %}

    {% if resource_granted('orocrm_sales_opportunity_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('orocrm_sales_opportunity_create'),
                'entity_label': 'orocrm.sales.opportunity.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
