services:

    oro_sales.api.b2bcustomer.customize_loaded_data.compute_primary_phone:
        class: Oro\Bundle\ApiBundle\Processor\CustomizeLoadedData\ComputePrimaryField
        arguments: [primaryPhone, phones, phone]
        tags:
            - { name: oro.api.processor, action: customize_loaded_data, class: Oro\Bundle\SalesBundle\Entity\B2bCustomer }

    oro_sales.api.b2bcustomer.customize_loaded_data.map_primary_phone:
        class: Oro\Bundle\ApiBundle\Processor\CustomizeFormData\MapPrimaryField
        arguments: ['@property_accessor', 'Unknown primary phone number.', primaryPhone, phones, phone]
        tags:
            - { name: oro.api.processor, action: customize_form_data, class: Oro\Bundle\SalesBundle\Entity\B2bCustomer }

    oro_sales.api.b2bcustomer.customize_loaded_data.compute_primary_email:
        class: Oro\Bundle\ApiBundle\Processor\CustomizeLoadedData\ComputePrimaryField
        arguments: [primaryEmail, emails, email]
        tags:
            - { name: oro.api.processor, action: customize_loaded_data, class: Oro\Bundle\SalesBundle\Entity\B2bCustomer }

    oro_sales.api.b2bcustomer.customize_loaded_data.map_primary_email:
        class: Oro\Bundle\ApiBundle\Processor\CustomizeFormData\MapPrimaryField
        arguments: ['@property_accessor', 'Unknown primary email address.', primaryEmail, emails, email]
        tags:
            - { name: oro.api.processor, action: customize_form_data, class: Oro\Bundle\SalesBundle\Entity\B2bCustomer }

    oro_sales.api.lead.customize_loaded_data.compute_primary_phone:
        class: Oro\Bundle\ApiBundle\Processor\CustomizeLoadedData\ComputePrimaryField
        arguments: [primaryPhone, phones, phone]
        tags:
            - { name: oro.api.processor, action: customize_loaded_data, class: Oro\Bundle\SalesBundle\Entity\Lead }

    oro_sales.api.lead.customize_loaded_data.map_primary_phone:
        class: Oro\Bundle\ApiBundle\Processor\CustomizeFormData\MapPrimaryField
        arguments: ['@property_accessor', 'Unknown primary phone number.', primaryPhone, phones, phone]
        tags:
            - { name: oro.api.processor, action: customize_form_data, class: Oro\Bundle\SalesBundle\Entity\Lead }

    oro_sales.api.lead.customize_loaded_data.compute_primary_email:
        class: Oro\Bundle\ApiBundle\Processor\CustomizeLoadedData\ComputePrimaryField
        arguments: [primaryEmail, emails, email]
        tags:
            - { name: oro.api.processor, action: customize_loaded_data, class: Oro\Bundle\SalesBundle\Entity\Lead }

    oro_sales.api.lead.customize_loaded_data.map_primary_email:
        class: Oro\Bundle\ApiBundle\Processor\CustomizeFormData\MapPrimaryField
        arguments: ['@property_accessor', 'Unknown primary email address.', primaryEmail, emails, email]
        tags:
            - { name: oro.api.processor, action: customize_form_data, class: Oro\Bundle\SalesBundle\Entity\Lead }

    # customer association

    oro_sales.api.get_config.customer_association:
        class: Oro\Bundle\SalesBundle\Api\Processor\CustomerAssociationGetConfig
        arguments:
            - 'customerAssociation'
        tags:
            - { name: oro.api.processor, action: get_config, class: Oro\Bundle\SalesBundle\Entity\Customer }

    oro_sales.api.customize_loaded_data.customer_association:
        class: Oro\Bundle\SalesBundle\Api\Processor\CustomerAssociationCustomizeLoadedData
        arguments:
            - '@oro_sales.customer.config_provider'
            - '@oro_entity.doctrine_helper'
            - 'customerAssociation'
        tags:
            - { name: oro.api.processor, action: customize_loaded_data, class: Oro\Bundle\SalesBundle\Entity\Opportunity }
            - { name: oro.api.processor, action: customize_loaded_data, class: Oro\Bundle\SalesBundle\Entity\Lead }

    oro_sales.api.get_metadata.customer_association:
        class: Oro\Bundle\SalesBundle\Api\Processor\CustomerAssociationGetMetadata
        arguments:
            - '@oro_sales.customer.account_config_provider'
            - 'customerAssociation'
        tags:
            - { name: oro.api.processor, action: get_metadata, class: Oro\Bundle\SalesBundle\Entity\Opportunity, priority: -110 }
            - { name: oro.api.processor, action: get_metadata, class: Oro\Bundle\SalesBundle\Entity\Lead, priority: -110 }

    oro_sales.api.get_metadata.get_config:
        class: Oro\Bundle\SalesBundle\Api\Processor\GetConfig
        tags:
            - { name: oro.api.processor, action: get_config, class: Oro\Bundle\SalesBundle\Entity\Opportunity, priority: -110 }
            - { name: oro.api.processor, action: get_config, class: Oro\Bundle\SalesBundle\Entity\Lead, priority: -110 }

    oro_sales.api.load_data.customer_association:
        class: Oro\Bundle\SalesBundle\Api\Processor\CustomerAssociationFinalize
        arguments:
            - 'customer'
        tags:
            - { name: oro.api.processor, action: get_list, group: finalize, class: Oro\Bundle\SalesBundle\Entity\Opportunity, priority: -254 }
            - { name: oro.api.processor, action: get, group: finalize, class: Oro\Bundle\SalesBundle\Entity\Opportunity, priority: -254 }
            - { name: oro.api.processor, action: get_list, group: finalize, class: Oro\Bundle\SalesBundle\Entity\Lead, priority: -254 }
            - { name: oro.api.processor, action: get, group: finalize, class: Oro\Bundle\SalesBundle\Entity\Lead, priority: -254 }

    oro_sales.api.opportunity.initialize_customer_type_guesser.customer_association:
        class: Oro\Bundle\SalesBundle\Api\Processor\InitializeCustomerTypeGuesser
        arguments:
            - '@oro_sales.form.guesser.customer_guesser'
            - 'customer'
        tags:
            - { name: oro.api.processor, action: update, group: transform_data, class: Oro\Bundle\SalesBundle\Entity\Opportunity, priority: 240 }
            - { name: oro.api.processor, action: create, group: transform_data, class: Oro\Bundle\SalesBundle\Entity\Opportunity, priority: 240 }
            - { name: oro.api.processor, action: update, group: transform_data, class: Oro\Bundle\SalesBundle\Entity\Lead, priority: 240 }
            - { name: oro.api.processor, action: create, group: transform_data, class: Oro\Bundle\SalesBundle\Entity\Lead, priority: 240 }

    oro_sales.api.opportunity.initialize_customer_account_type_guesser:
        class: Oro\Bundle\SalesBundle\Api\Processor\InitializeCustomerAccountTypeGuesser
        arguments:
            - '@oro_sales.form.guesser.customer_account_guesser'
        tags:
            - { name: oro.api.processor, action: update, group: transform_data, class: Oro\Bundle\SalesBundle\Entity\Opportunity, priority: 240 }
            - { name: oro.api.processor, action: create, group: transform_data, class: Oro\Bundle\SalesBundle\Entity\Opportunity, priority: 240 }
            - { name: oro.api.processor, action: update, group: transform_data, class: Oro\Bundle\SalesBundle\Entity\Lead, priority: 240 }
            - { name: oro.api.processor, action: create, group: transform_data, class: Oro\Bundle\SalesBundle\Entity\Lead, priority: 240 }

    oro_sales.form.type.customer_api:
        class: Oro\Bundle\SalesBundle\Form\Type\CustomerApiType
        arguments:
            - '@oro_sales.manager.account_customer'
        tags:
            - { name: oro.api.form.type, alias: oro_sales_customer_api }

    oro_sales.form.type.customer_account_api:
        class: Oro\Bundle\SalesBundle\Form\Type\CustomerAccountApiType
        arguments:
            - '@oro_sales.manager.account_customer'
        tags:
            - { name: oro.api.form.type, alias: oro_sales_customer_account_api }

    oro_sales.form.guesser.customer_guesser:
        class: Oro\Bundle\SalesBundle\Form\Guesser\CustomerApiTypeGuesser
        tags:
            - { name: oro.api.form.type_guesser, priority: 20 }

    oro_sales.form.guesser.customer_account_guesser:
        class: Oro\Bundle\SalesBundle\Form\Guesser\CustomerAccountApiTypeGuesser
        tags:
            - { name: oro.api.form.type_guesser, priority: 20 }
