<span class="title">{{ item.label|trans }}</span>
<h2 class="value">{{ item.value.value }}</h2>
{% if item.value.deviation is defined %}
<div class="deviation">
    <span class="deviation" style="color: #{% if item.value.isPositive %}9bad37{% else %}ff0800{% endif %};">
        {{ item.value.deviation }}
    </span>
    <span class="date-range">{{ item.value.previousRange }}</span>
</div>
{% endif %}
