{% extends 'OroDashboardBundle:Dashboard:widget.html.twig' %}

{% set widgetType = 'quick-launchpad' %}

{% block content %}
    <ul class="quick-launchpad-toolbar with-subwidgets">
        {% if (items|length > 3) %}
            {% set itemWidth = (100 / 3)|round(2)%}
        {% else %}
            {% set itemWidth = (100 / items|length)|round(1) %}
        {% endif %}
        {% for itemName, item in items %}
            <li class="sub-widget" style="width: {{ itemWidth }}%">
                {% include widgetDataItems[itemName].template with {item: item}%}
            </li>
            {% if not loop.last and loop.index % 3 == 0 %}
            <li class="separator"> &nbsp; </li>
            {% endif %}
        {% endfor %}
    </ul>
    {{ parent() }}
{% endblock %}
