{% extends bap.layout is defined ? bap.layout : 'OroUserBundle::layout.html.twig' %}

{% block page_container %}
    <div class="container-fluid oro-tree">
        {% block content %}
            <h1>Edit ACL</h1>
            <form action="{{ path('oro_user_acl_save', { id: role.id }) }}" method="POST">
                <div id="acl_tree">
                    {% include 'OroUserBundle:Acl:_subTree.html.twig' with {'resources': resources} %}
                </div>
                <div class="form-actions">
                    <button class="btn btn-large btn-primary" type="submit">Save</button>
                </div>
            </form>

            <script type="text/javascript">
                $(function() {
                    $('#acl_tree').jstree({
                        "checkbox": {
                            real_checkboxes: true,
                            real_checkboxes_names: function (n) {
                                return ['resource[' + n.data('id') + ']', 1]
                            }
                        },
                        "plugins": ["themes", "html_data", "ui", "checkbox", "hotkeys"]
                    });
                });
            </script>
        {% endblock %}
    </div>
{% endblock %}
