{% extends "OroCRMSalesBundle:Workflow:sales.html.twig" %}

{% block step_info %}
    {% if workflowItem.closed %}
        <h4>
            {% trans %}Sales flow is closed.{% endtrans %}
            <a href="{{ path('orocrm_sales_opportunity_view', {'id': workflowItem.data.opportunity.id}) }}">
                {% trans %}Go to opportunity view page{% endtrans %}
            </a>
        </h4>
    {% endif %}
{% endblock step_info %}
