/* @theme: admin.oro; */

.rfm-settings {
    .rfm-settings-data {
        display: none;

        .grid {
            margin-top: 5px;
            margin-bottom: 10px;
        }

        th {
            font-weight: font-weight('light');

            .tooltip-icon {
                margin-right: $content-padding-small;
            }

            label {
                font-weight: font-weight('bold');
                margin-bottom: 0;
            }

            .oro-popover-content {
                font-weight: font-weight('light');
            }
        }
    }

    &.rfm-enabled {
        .rfm-settings-data {
            display: block;
        }
    }
}
