{% extends bap.layout %}

{% block title %}{% trans %}How to use Pinbar{% endtrans %}{% endblock %}

{% block content %}
    <div class="clearfix">

        <h3>{% trans %}How to use Pinbar{% endtrans %}</h3>

        <p>
            {% trans %}Some text{% endtrans %}
        </p>

    </div>
{% endblock %}
