parameters:
    oro_activiy_contact.listener.activity_contact_migration.class: Oro\Bundle\ActivityContactBundle\EventListener\ActivityContactMigrationListener
    oro_activity_contact.entity_config_dumper.extension.class:     Oro\Bundle\ActivityContactBundle\Tools\ActivityContactConfigDumperExtension
    oro_activity_contact.provider.class:                           Oro\Bundle\ActivityContactBundle\Provider\ActivityContactProvider
    oro_activity_contact.listener.activity_listener.class:         Oro\Bundle\ActivityContactBundle\EventListener\ActivityListener
    oro_activity_contact.email_activity_direction.provider.class:  Oro\Bundle\ActivityContactBundle\Provider\EmailDirectionProvider
    oro_activity_contact.entity_activity_contact_data_provider.class: Oro\Bundle\ActivityContactBundle\Provider\EntityActivityContactDataProvider
    oro_activity_contact.placeholder.filter.class: Oro\Bundle\ActivityContactBundle\Placeholder\PlaceholderFilter

services:
    oro_activiy_contact.listener.activity_contact_migration:
        class: %oro_activiy_contact.listener.activity_contact_migration.class%
        arguments:
            - "@oro_entity_extend.migration.entity_metadata_helper"
            - "@oro_activity_contact.provider"
        tags:
            - { name: kernel.event_listener, event: oro_migration.post_up, method: onPostUp, priority: -100 }

    oro_activity_contact.entity_config_dumper.extension:
        class: %oro_activity_contact.entity_config_dumper.extension.class%
        arguments:
            - "@oro_entity_config.config_manager"
            - "@oro_activity_contact.provider"
        tags:
            - { name: oro_entity_extend.entity_config_dumper_extension }

    oro_activity_contact.provider:
        class: %oro_activity_contact.provider.class%

    oro_activity_contact.listener.activity_listener:
        class: %oro_activity_contact.listener.activity_listener.class%
        arguments:
            - "@oro_activity_contact.provider"
            - "@oro_entity.doctrine_helper"
            - "@oro_entity_config.config_manager"
        tags:
            - { name: kernel.event_listener, event: oro_activity.add_activity, method: onAddActivity }
            - { name: kernel.event_listener, event: oro_activity.remove_activity, method: onRemoveActivity }
            - { name: doctrine.event_listener, event: onFlush }
            - { name: doctrine.event_listener, event: postFlush }

    oro_activity_contact.email_activity_direction.provider:
        class: %oro_activity_contact.email_activity_direction.provider.class%
        arguments:
            - "@oro_entity_config.provider.entity"
            - "@oro_entity.doctrine_helper"
            - "@oro_email.email_holder_helper"
        tags:
            - {name: oro_activity_direction.provider}


    oro_activity_contact.entity_activity_contact_data_provider:
        class: %oro_activity_contact.entity_activity_contact_data_provider.class%
        arguments:
            - "@oro_entity_config.config_manager"

    oro_activity_contact.placeholder.filter:
        class: %oro_activity_contact.placeholder.filter.class%
        parent: oro_activity_list.placeholder.filter

    oro_activity_contact.api.get_config.update_activity_contact_fields:
        class: Oro\Bundle\ActivityContactBundle\Api\Processor\Config\UpdateActivityContactFields
        arguments:
            - '@oro_api.doctrine_helper'
            - '@oro_entity_config.config_manager'
            - '@oro_activity_contact.provider'
            - ['create', 'update']
        tags:
            - { name: oro.api.processor, action: get_config, extra: !identifier_fields_only&definition, priority: -40 }
