{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}
<div class="widget-content">
    <div class="row-fluid form-horizontal">
        {% if is_granted('VIEW', account, 'name') %}
            <div class="responsive-block">
                {{ UI.renderProperty('oro.account.name.label'|trans, account.name) }}
                {{ entityConfig.renderDynamicFields(account) }}
            </div>
        {% endif %}
    </div>
</div>
