<div class="widget-content">
    {# JS template for address view #}
    {% include "OroCRMMagentoBundle:Js:address.js.twig" %}
    <div class="list-box map-box" id="address-book"></div>

    {% set listUrl = path('oro_api_get_customer_addresses', {'customerId': entity.id}) %}
    <script type="text/javascript">
    require(['jquery', 'underscore', 'routing', 'oroaddress/js/address-book', 'oroui/js/widget-manager'],
    function($, _, routing, AddressBook, widgetManager) {
        widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget){
            /** @type oroaddress.AddressBook */
            var addressBook = new AddressBook({
                el: '#address-book',
                addressListUrl: {{ listUrl|json_encode|raw }}
            });
            addressBook
                .getCollection()
                .reset({{ render(listUrl) }});
        });
    });
    </script>
</div>
