{% block page_container %}
    <div class="widget-content form-dialog">
        {{ oro_widget_render({
            'widgetType':         'block',
            'alias':              'order-place-widget',
            'url':                path('orocrm_magento_widget_customer_orderplace', {id: entity.id}),
            'loadingMaskEnabled': true
        }) }}

        <script type="text/javascript">
            require(['underscore', 'oroui/js/widget-manager'], function(_, widgetManager) {
                widgetManager.getWidgetInstanceByAlias('order-place-widget', function(widget) {
                    widget._showLoading();
                    widget.once('externalContentLoaded', _.bind(widget._hideLoading, widget));
                });
            });
        </script>
    </div>
{% endblock %}
