# This is is adidtional configuration for phpstan rules, see https://github.com/oroinc/phpstan-rules/blob/master/README.md
trusted_data:
    properties:
        Oro\Bundle\SalesBundle\Autocomplete\BusinessCustomerSearchHandler:
            getEntitiesByIds:
                idFieldName: true
    safe_static_methods:
        Oro\Bundle\SalesBundle\Entity\Manager\AccountCustomerManager:
            getCustomerTargetField: true
