# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    properties:
        Oro\Bundle\SalesBundle\Autocomplete\BusinessCustomerSearchHandler:
            getEntitiesByIds:
                idFieldName: true
    safe_static_methods:
        Oro\Bundle\SalesBundle\Entity\Manager\AccountCustomerManager:
            getCustomerTargetField: true
    variables:
        Oro\Bundle\SalesBundle\Api\Processor\AddAccountCustomerAssociations:
            addAccountCustomersAssociation:
                customerAssociationName: true
            addCustomerAccountAssociation:
                customerAssociationName: true
