.tasks-list-wrapper{
    position: relative;
}
.widget-mask-wrapper{
    min-height: 104px;
    position: relative;
}
.widget-mask-wrapper .loading-mask .loading-frame .box{
    margin-left: 5%;
    max-width: 80%;
}
.task-widget-row:hover {
    background-color: #E8E8E8;
}
.task-widget-row{
    padding: 3px 0;
    overflow: hidden;
}
.task-widget-row a{
    display: block;
}
.task-date-time{
    color: #A0A0A0;
    font-size: 10px;
}
