.tasks-list-wrapper{
    position: relative;
}
.widget-mask-wrapper{
    min-height: 104px;
    position: relative;
}
.widget-mask-wrapper .loading-mask .loading-frame .box{
    margin-left: 5%;
    max-width: 80%;
}
.task-widget-row:hover{
    background-color: #E8E8E8;
}
.task-widget-row{
    display: block;
    padding: 3px 0;
    overflow: hidden;
}
.task-widget-row span{
    display: block;
    float: right;
    overflow: hidden;
    width: 87%;
}
