{% block form_row %}
{% spaceless %}
<div class="control-group{% if errors|length > 0 %} error{% endif %}">
    {{ form_label(form) }}
    <div class="controls">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
</div>
{% endspaceless %}
{% endblock form_row %}
