{% extends bap.layout is defined ? bap.layout : 'OroUserBundle::layout.html.twig' %}

{% block title %}{{ 'Password reset - check Email'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
<div class="alert alert-success">
    {{ 'An email has been sent to %email%. It contains a link you must click to reset your password.'|trans({ '%email%': email }) }}
</div>
{% endblock %}
