{% if resource_granted('oro_magento_customer_view') and customers|length > 0 %}
    <div class="widget-content">
        <div class="pull-right label label-info orocrm-channel-lifetime-value-label">
            <b>{{ 'oro.magento.customer.lifetime.label'|trans}}: {{ oro_channel_account_lifetime(account, channel)|oro_format_currency }}</b>
        </div>

        {% set tabs = [] %}
        {% for customer in customers %}
            {% set tabs = tabs|merge([
                {
                    'alias': 'oro_magento_customer_info_customer_' ~ customer.id ~ '_channel_' ~ channel.id,
                    'widgetType': 'block',
                    'label': customer|oro_format_name,
                    'url': path('oro_magento_widget_customer_info', {'id': customer.id, 'channelId': channel.id})
                }
            ]) %}
        {% endfor %}
        {{ tabPanel(tabs) }}
    </div>
{% endif %}
