<li class="magento-customer-info">
    <div class="pull-left label label-info orocrm-channel-lifetime-value-label">
        {{ 'orocrm.magento.customer.lifetime.label'|trans}}: {{ entity.lifetime|oro_format_currency }}
    </div>
    {% include 'OroCRMAnalyticsBundle::label.html.twig' %}
</li>
