{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {%- if entity.opportunity and resource_granted('VIEW', entity.opportunity) -%}
                {% set opportunityView = ui.renderUrl(path('orocrm_sales_opportunity_view', {'id': entity.opportunity.id}), entity.opportunity.name) %}
            {%- else -%}
                {% set opportunityView = entity.opportunity.name %}
            {%- endif -%}

            {{ ui.renderProperty('orocrm.sales.salesflowopportunity.opportunity.label'|trans, opportunityView) }}
            {{ ui.renderProperty('orocrm.sales.salesflowopportunity.workflow_step.label'|trans, entity.workflowStep ? entity.workflowStep.label : null) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
