{% if is_granted('oro_case_view') %}
    {% import '@OroDataGrid/macros.html.twig' as dataGrid %}

    <div class="responsive-cell">
        <div class="box-type1">
            <div class="title">
                <span class="widget-title">{{ "oro.case.caseentity.entity_plural_label"|trans }}</span>
            </div>

            <div class="row-fluid">
                {{ dataGrid.renderGrid('account-cases-grid', {id: entity.id}, {cssClass: 'inner-grid'}) }}
            </div>
        </div>
    </div>
{% endif %}
