{% set isWidgetContext = true %}
{% set formAction = app.request.uri %}
{% extends '@OroIntegration/Integration/update.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}

{% block content_data %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {{ parent() }}
    <div class="widget-actions">
        <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
        <button type="submit" class="btn btn-success">{{ 'Done'|trans }}</button>
    </div>

    {% set wid = app.request.get('_wid') %}

    <div {{ UI.renderPageComponentAttributes({
        view: 'orochannel/js/app/views/configure-integration-view',
        options: {
            _sourceElement: '[data-wid="' ~ wid ~ '"]',
            wid: wid,
            dataFieldSelector: '[data-ftid=oro_channel_form_dataSource_data]',
            apiKeyFieldSelector: '[data-ftid=oro_integration_channel_form_transport_apiKey]'
        },
    }) }}></div>
{% endblock content_data %}
