<tr data-cid="<%= cid %>">
    <td class="name-cell"><%= label %></td>
    <td class="action-cell" style="width: 100px;">
        <% _.each(actions, function(action) { %>
            <a href="<%= action.url ? action.url: 'javascript: void(0);' %>"
                class="action no-hash"
                <% if (!action.url && action.collectionAction) { %>
                    data-collection-action="<%= action.collectionAction %>""
                <% } else { %>
                    target="_blank"
                <% } %>
                title="<%= __(action.title) %>">
                <i class="<%= action.icon %> hide-text"></i>
            </a>
        <% }) %>
    </td>
</tr>
