<tr data-cid="<%- cid %>">
    <td class="name-cell"><i class="<%= icon %> hide-text"></i>&nbsp;<%- label %></td>
    <td class="action-cell">
        <% _.each(actions, function(action) { %>
            <a href="<%= action.url ? action.url: 'javascript: void(0);' %>"
                class="action <% if (!action.url) { %>no-hash<% } %>"
                <% if (!action.url && action.collectionAction) { %>
                    data-collection-action="<%= action.collectionAction %>""
                <% } %> title="<%- __(action.title) %>">

                <% if (action.icon) { %>
                    <i class="<%= action.icon %> hide-text"></i>
                <% } else { %>
                    <%- __(action.title) %>
                <% } %>
            </a>
        <% }) %>
    </td>
</tr>
