<div class="query-designer-form entities-form-container">
    <div class="control-group">
        <div class="controls">
            <input type="text" data-purpose="entity-selector" name="name" data-validation='{"NotBlank":null}'>
        </div>
    </div>
    <div class="pull-left entities-form-action-container">
        <div class="pull-left btn-group icons-holder">
            <a href="#" class="btn no-hash btn-primary add-button" title="<%= __('Add') %>"><%= __('Add') %></a>
        </div>
        <div class="pull-left btn-group icons-holder">
            <a href="#" class="btn no-hash cancel-button" title="<%= __('Cancel') %>"><%= __('Cancel') %></a>
        </div>
    </div>
</div>
