{% if value %}
    {% set callId = record.getValue('id') %}
    <a class="call-info-widget-link"
       data-call-id="{{ callId }}"
       data-call-info-widget-url="{{ path('orocrm_call_widget_info', {id : callId}) }}"
       data-call-info-widget-title="{{ value|json_encode|raw }}"
       href="javascript: void(0);">
        {{ value }}
    </a>
{% endif %}
