<li>
    <div class="label label-success orocrm-channel-lifetime-value-label">
        {{ 'oro.account.lifetime_value.label'|trans }}:
        <b>{{ oro_channel_account_lifetime(entity)|oro_format_currency }}</b>
    </div>
</li>
