{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set pageTitle = 'orocrm.campaign.emailcampaign.entity_plural_label'|trans %}
{% set gridName = 'orocrm-email-campaign-grid' %}

{% block navButtons %}
    <div class="btn-group">
        {% if resource_granted('orocrm_email_campaign_create') %}
            {{ UI.addButton({
                'path': path('orocrm_email_campaign_create'),
                'entity_label': 'orocrm.campaign.emailcampaign.entity_label'|trans
            }) }}
        {% endif %}
    </div>
{% endblock %}
