{% block orocrm_campaign_code_type_widget %}
    {% spaceless %}
        {% if value is not empty %}
            <div class="control-label">{{ value }}</div>
            {{ block('hidden_widget') }}
        {% else %}
            {{ block('form_widget_simple') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}
