{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set listUrl = path('oro_api_get_customer_addresses', {'customerId': entity.id}) %}
{% set addressBookOptions = {
    module: 'oroaddress/js/app/components/address-book-component',
    options: {
        addressListUrl: listUrl,
        addresses: render(listUrl)
    }
} %}

<div class="widget-content" {{ UI.renderPageComponentAttributes(addressBookOptions) }}>
    {# JS template for address view #}
    {% include "OroMagentoBundle:Js:address.js.twig" %}
    <div class="map-box" id="address-book"></div>
</div>
