{% block page_container %}
    <div class="widget-content form-dialog">
        {{ oro_widget_render({
            'widgetType':         'block',
            'alias':              'order-place-widget',
            'url':                path('oro_magento_widget_customer_orderplace', {id: entity.id}),
            'loadingMaskEnabled': true
        }) }}
    </div>
{% endblock %}
