{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEmailBundle::macros.html.twig' as email %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('oro.sales.salesfunnel.start_date.label'|trans, entity.startDate|oro_format_date) }}

            {{ ui.renderHtmlProperty(
                'oro.sales.salesfunnel.lead.label'|trans,
                ui.entityViewLink(entity.lead, entity.lead ? entity.lead.name : null, 'oro_sales_lead_view')
            ) }}

            {{ ui.renderHtmlProperty(
                'oro.sales.salesfunnel.opportunity.label'|trans,
                ui.entityViewLink(entity.opportunity, entity.opportunity ? entity.opportunity.name : null, 'oro_sales_opportunity_view')
            ) }}
        </div>
    </div>
</div>
