{% if is_granted('oro_magento_customer_view') and customers|length > 0 %}
    {% set tabs = [] %}
    {% if not isMobileVersion() %}
        {% set tabsOptions = {
            verticalTabs: true,
            useDropdown: false,
            subtitle: 'oro.magento.customer_tabs_title'|trans
        } %}
    {% endif %}
    {% for customer in customers %}
        {% set tabs = tabs|merge([
            {
                'alias': 'oro_magento_customer_info_customer_' ~ customer.id ~ '_channel_' ~ channel.id,
                'widgetType': 'customer-info',
                'label': customer|oro_format_name,
                'url': path('oro_magento_widget_customer_info', {
                    'id': customer.id, 'channelId': channel.id
                })
            }
        ]) %}
    {% endfor %}
    {% if (tabs|length > 1) %}
        {% import 'OroUIBundle::macros.html.twig' as UI %}
        <div class="widget-content account-customer-info multicustomer" {{ UI.renderPageComponentAttributes({
            module: 'oroui/js/app/components/view-component',
            options: {
                view: 'orosales/js/app/views/account-multicustomer-view',
                customerType: 'magento_customer'
            }
        }) }}>
            {{ tabPanel(tabs, tabsOptions|default({})) }}
        </div>
    {% else %}
        <div class="widget-content account-customer-info">
            {{ oro_widget_render(tabs[0]) }}
        </div>
    {% endif %}
{% endif %}
