<li class="magento-customer-info">
    <div class="pull-left label label-large label-info orocrm-channel-lifetime-value-label">
        {{ 'oro.magento.customer.lifetime.label'|trans}}:
        <b>{{ entity.lifetime|oro_format_currency }}</b>
    </div>
    {% include 'OroAnalyticsBundle::label.html.twig' %}
</li>
