{% extends 'OroUIBundle:actions:update.html.twig' %}
{% form_theme form with ['OroFormBundle:Form:fields.html.twig', 'OroMagentoBundle:Include:fields.html.twig'] %}
{% set formAction = entity.id ? path('oro_magento_customer_update', {id: entity.id}) : path('oro_magento_customer_create') %}

{% set fullname = entity|oro_format_name|default('N/A'|trans) %}
{% oro_title_set({params : {'%customer.name%': fullname, '%entityName%': 'oro.magento.customer.entity_label'|trans} }) %}

{% block navButtons %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {{ UI.cancelButton(path('oro_magento_customer_index')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if form.vars.value.id or is_granted('oro_magento_customer_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity': entity,
            'indexPath': path('oro_magento_customer_index'),
            'indexLabel': 'oro.magento.customer.entity_plural_label'|trans,
            'entityTitle': fullname
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'oro.magento.customer.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'customer' %}

    {% set formRows = [
        form_row(form.dataChannel),
        form_row(form.store),
        form_row(form.group),
        form_row(form.namePrefix),
        form_row(form.firstName),
        form_row(form.middleName),
        form_row(form.lastName),
        form_row(form.nameSuffix),
        form_row(form.email),
        form_row(form.birthday),
        form_row(form.vat),
        form_row(form.gender),
        form_row(form.contact),
    ] %}

    {% if form.generatedPassword is defined %}
        {% set formRows = formRows|merge([
            '<h5 class="user-fieldset"><span>' ~ 'oro.magento.customer.password.section'|trans ~'</span></h5>',
            form_row(form.generatedPassword)
        ]) %}
    {% endif %}

    {% set dataBlocks = [{
        'title': 'General'|trans,
        'subblocks': [
            {
                'title': 'Basic Information'|trans,
                'data': formRows
            },
            {
                'title': 'oro.magento.customer.addresses.label'|trans,
                'data': [
                    form_widget(form.addresses),
                ]
            },
        ]
    }] %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}

    {{ parent() }}
{% endblock content_data %}
